html, body {
    background: white;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: #8c1515;
}

.steps-content {
    display: block;
}

.hero.is-gray, .section.is-gray {
    background-color: #e5e5e5;
}

.hero.is-kantinator .hero-body .container {
    max-width: 700px;
    background: rgba(0, 0, 0, 0.5);
    padding: 1rem;
}

.hero.is-kantinator .hero-body .title {
    color: hsl(192, 17%, 99%) !important;
}

.hero.is-kantinator .hero-body .subtitle {
    color: hsl(192, 17%, 99%) !important;
    padding-top: 2rem;
    line-height: 1.5;
}

.tile.notification {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hero.is-kantinator a:not(.button),
.hero.is-kantinator strong {
    color: inherit;
}

.hero.is-kantinator .title {
    color: #fff;
}

.hero.is-kantinator .subtitle {
    color: rgba(255, 255, 255, 0.9);
}

.hero.is-kantinator .subtitle a:not(.button),
.hero.is-kantinator .subtitle strong {
    color: #fff;
}

.hero.is-kantinator {
    background: url(../img/hero-background.jpg) center center;
    background-size: cover;
}

.section.is-kantinator,
.tag.is-kantinator {
    background-color: #8c1515;
    color: white;
}

.section.is-kantinator .title {
    color: #fff;
}

.section.is-kantinator .subtitle,
.section.is-kantinator .subtitle strong {
    color: rgba(255, 255, 255, 0.9);
}

.box.cta {
    margin-bottom: 0;
}